<h3 style="width: 400px; margin-left: 50px; margin-top: 50px;">Add new Car</h3>

<form [formGroup]="myForm" (ngSubmit)="mySubmit(myForm.value)" class="mx-auto" style="width: 400px; margin-left: 50px; margin-top: 50px;">
  <label for="example-text-input" class="col-1 col-form-label">Short information</label>
  <div class="col-5">
    <input class="form-control form-control-danger" id="inputHorizontalDnger" type="text" [formControl]="shortInfo">
    <div class="text-muted" *ngIf="shortInfo.hasError('required')">Short info required</div>
  </div>
  <br>
<label for="example-text-input" class="col-1 col-form-label">Details</label>
  <div class="col-5">
    <input class="form-control form-control-danger" id="inputHorizontalDnger" type="text" [formControl]="details">
    <div  class="text-muted" *ngIf="details.hasError('required')">Details required</div>
  </div>
  <br>
   <button type="submit" class="btn btn-primary">Submit</button>
</form>

<br/>
<h2 style="width: 400px; margin-left: 50px; margin-top: 50px;">Car List:</h2>
<app-car-item *ngFor="let data of cars" [shortInfo]="data.shortInfo" [details]="data.details" (clickEmmiter)="userClicked($event)"></app-car-item>
